{% extends "main_base.html" %}
{% load static %}
{% block pure_title %}Secret Santa|Создать "шапку"{% endblock %}
{% block content %}

    <div class="mb-7 ml-6 mt-6">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h3>Создайте свой обмен подарками</h3>
            <table class="table table-sm table-hover table-lg">
                {{ form.as_table }}
            </table>
            <input type="submit" value="Сохранить">
        </form>
    </div>
<script type="text/javascript" src="{% static '/assets/js/urlify.js' %}"></script>
<script type="text/javascript" src="{% static '/assets/js/form_filler.js' %}"></script>
{% endblock %}